<div style="padding: 15px;width:400px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" name="cate_name" required  lay-verify="required|checkName" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否展示</label>
            <div class="layui-input-block">
                <input type="radio" name="cate_show" value="1" title="是" checked>
                <input type="radio" name="cate_show" value="2" title="否">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否导<br>航展示</label>
            <div class="layui-input-block">
                <input type="radio" name="cate_navshow" value="1" title="是">
                <input type="radio" name="cate_navshow" value="2" title="否" checked>
            </div>
        </div>
        <div class="layui-form-item" style="width: 300px;">
            <label class="layui-form-label">父类</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="required">
                    <option value="0">--请选择--</option>
                    {volist name='data' id='v'}
                    <option value="{$v.cate_id}">{:str_repeat('&nbsp;&nbsp;',$v['level']*2)}{$v.cate_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function(){
        layui.use(['layer','form'],function(){
            var layer=layui.layer;
            var form=layui.form;
            //验证
            form.verify({
                checkName: function (value, item) {
                    var reg = /^.{1,}$/i;
                    var info
                    //console.log(value);
                    if (!reg.test(value)) {
                        return '分类名称错误';
                    } else {
                        $.ajax({
                            url: "{:url('Category/checkName')}",
                            method: 'post',
                            data: {cate_name: value, type: 1},
                            async: false,
                            success: function (msg) {
                                if (msg == 'no') {
                                    info = '分类名称已存在';
                                }
                            }
                        });
                        return info;
                    }
                }
            })
            //阻止提交
            form.on('submit(formDemo)', function(data){
                console.log(data.field);
                $.post(
                        "{:url('category/cateAdd')}",
                        data.field,
                        function(result){
                            layer.msg(result.font,{icon:result.code});
                            if(result.code==1){
                                layer.open({
                                    type:0,
                                    content:'添加成功',
                                    btn:['展示页面','继续添加'],
                                    yes:function(index,layero){
                                        location.href='cateList';
                                    },
                                    btn2:function(index,layero){
                                        location.href='cateAdd';
                                    }
                                })
                            }
                        },
                        'json'
                )

                return false;
            });
        })
    })
</script>