<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="__STATIC__/index/login/amazeui.css" />
		<link href="__STATIC__/index/login/dlstyle.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__/layui/css/layui.css" rel="stylesheet" type="text/css">

		<script src="__STATIC__/layui/layui.js"></script>
		<script src="__STATIC__/index/login/jquery-3.2.1.min.js"></script>
		<script src="__STATIC__/index/login/amazeui.min.js"></script>

	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home/demo.html"><img alt="" src="__STATIC__/index/login/logobig.png" /></a>
		</div>

		<div class="res-banner">
			<div class="res-main">
				<div class="login-banner-bg"><span></span><img src="__STATIC__/index/login/big.jpg" /></div>
				<div class="login-box">

						<div class="am-tabs" id="doc-my-tabs">
							<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
								<li class="am-active"><a href="">邮箱注册</a></li>
								<li><a href="">手机号注册</a></li>
							</ul>

							<div class="am-tabs-bd">
								<!--邮箱注册-->
								<div class="am-tab-panel am-active">
									<form method="post" class="layui-form">

										<div class="user-email">
											<label for="email"><i class="am-icon-envelope-o"></i></label>
											<input type="email" name="user_email"  id="email"  lay-verify="required|email"placeholder="请输入邮箱账号">
										</div>
										<div class="verification">
											<label for="email_code"><i class="am-icon-code-fork"></i></label>
											<input type="text" name="user_code" id="email_code"  lay-verify="required" placeholder="请输入验证码">
											<a class="btn" href="javascript:void(0);"  id="sendEmailCode">
												<span class="dyButton" id="span_email">获取</span>
											</a>
										</div>
										<div class="user-pass">
											<label for="email_pwd"><i class="am-icon-lock"></i></label>
											<input type="password" name="user_pwd" id="email_pwd" lay-verify="checkpwd1" placeholder="设置密码">
										</div>
										<div class="user-pass">
											<label for="email_pwd1"><i class="am-icon-lock"></i></label>
											<input type="password" name="user_pwd1" id="email_pwd1" lay-verify="checkpwd2"  placeholder="确认密码">
										</div>
										<div class="am-cf">
											<input type="button" lay-submit lay-filter="emailDemo" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
										</div>
									</form>
								</div>
								<!--手机号注册-->
								<div class="am-tab-panel">
									<form method="post" class="layui-form">
										<div class="user-phone">
											<label for="tel"><i class="am-icon-mobile-phone am-icon-md"></i></label>
											<input type="tel" name="user_tel" lay-verify="required|phone"  id="tel" placeholder="请输入手机号">
										</div>
										<div class="verification">
											<label for="tel_code"><i class="am-icon-code-fork"></i></label>
											<input type="tel" name="user_code" lay-verify="required" id="tel_code" placeholder="请输入验证码">
											<a class="btn" href="javascript:void(0);" id="sendTelCode">
												<span class="dyButton" id="span_tel">获取</span>
											</a>
										</div>
										<div class="user-pass">
											<label for="tel_pwd"><i class="am-icon-lock"></i></label>
											<input type="password" name="user_pwd" lay-verify="checkpwd1" id="tel_pwd" placeholder="设置密码">
										</div>
										<div class="user-pass">
											<label for="tel_pwd1"><i class="am-icon-lock"></i></label>
											<input type="password" name="user_pwd1" lay-verify="checkpwd2" id="tel_pwd1" placeholder="确认密码">
										</div>
										<div class="am-cf">
											<input type="button" lay-submit lay-filter="telDemo" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
										</div>
									</form>
								</div>
<script>
	$(function() {
		$('#doc-my-tabs').tabs();
	  })
</script>
							</div>
						</div>
				</div>
			</div>
			<div class="footer ">
				<div class="footer-hd ">
					<p>
						<a href="# ">恒望科技</a>
						<b>|</b>
						<a href="# ">商城首页</a>
						<b>|</b>
						<a href="# ">支付宝</a>
						<b>|</b>
						<a href="# ">物流</a>
					</p>
				</div>
				<div class="footer-bd ">
					<p>
						<a href="# ">关于恒望</a>
						<a href="# ">合作伙伴</a>
						<a href="# ">联系我们</a>
						<a href="# ">网站地图</a>
						<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
					</p>
				</div>
			</div>
	</body>

</html>
<script>
	$(function(){
	    layui.use(['layer','form'],function(){
	        var layer=layui.layer;
	        var form=layui.form;
			var second=10;
			var _time;
            //给获取的获取绑定一个点击事件
            $('#span_email').click(function(){
                var _this=$(this);
                //获取手机号或邮箱的值
                var _value=$('#email').val();
				var reg=/^\w+@\w+\.com$/;
				//console.log(_value.indexOf('@'));
                if(_value=='') {
					layer.msg('邮箱不能为空', {icon: 2});
				}else if(!reg.test(_value)){
					layer.msg('邮箱格式错误', {icon: 2});
                }else{
					$.ajax({
						url:"{:url('login/check')}",
						method:'post',
						data:{value:_value},
						async:false,
						success:function(msg){
							if(msg=="no"){
								layer.msg('邮箱已注册,请直接登录',{icon:2});
							}else{
								_this.text(second+'s');
								_time=setInterval(emailTime,1000);
								$.post(
										"{:url('Login/send')}",
										{value:_value},
										function(msg){
											layer.msg(msg.font,{icon:msg.code});
										},
										'json'
								);
							}
						}
					})
                }
            });
			$('#span_tel').click(function(){
				var _this=$(this);
				//获取手机号或邮箱的值
				var _value=$('#tel').val();
				var reg=/^1[1-9]\d{9}$/;
				//console.log(_value.indexOf('@'));
				if(_value=='') {
					layer.msg('手机号不能为空', {icon: 2});
				}else if(!reg.test(_value)){
					layer.msg('手机号格式错误', {icon: 2});
				}else{
					$.ajax({
						url:"{:url('login/check')}",
						method:'post',
						data:{value:_value},
						async:false,
						success:function(msg){
							if(msg=="no"){
								layer.msg('手机已注册,请直接登录',{icon:2});
							}else{
								_this.text(second+'s');
								_time=setInterval(telTime,1000);
								$.post(
										"{:url('Login/send')}",
										{value:_value},
										function(msg){
											layer.msg(msg.font,{icon:msg.code});
										},
										'json'
								);
							}
						}
					})
				}
			});
			//手机获得倒计时
			function telTime(){
				var second=parseInt($('#span_tel').text());
				if(second==0){
					$('#span_tel').text('获得');
					clearInterval(_time);
					$('#span_tel').css('opinter-events','none');
				}else{
					second=second-1;
					$('#span_tel').text(second+'s');
					$('#span_tel').css('opinter-events','auto');
				}
			}
			//邮箱获得倒计时
			function emailTime(){
				var second=parseInt($('#span_email').text());
				if(second==0){
					$('#span_email').text('获得');
					clearInterval(_time);
					$('#span_email').css('opinter-events','none');
				}else{
					second=second-1;
					$('#span_email').text(second+'s');
					$('#span_email').css('opinter-events','auto');
				}
			}
			//验证
            form.verify({
				checkpwd1:function(value,item){
				    var reg=/^.{6,}$/;
				    if(value==''){
				        return '密码必填'
					}else if(!reg.test(value)){
				        return '密码必须6位以上';
					}
				},
				checkpwd2:function(value,item){
				    var tel_pwd=$('#tel_pwd').val();
				    var email_pwd=$('#email_pwd').val();
                    if(value==''){
                        return '确认密码必填'
                    }else if(value!=tel_pwd&&value!=email_pwd){
                        return '确认密码必须和密码一致'
					}
				}

            });
            //监听表单提交邮箱
            form.on('submit(emailDemo)', function(data){
				$.post(
				    "{:url('Login/register')}?type=1",
					data.field,
					function(msg){
				        //console.log(msg);
						layer.msg(msg.font,{icon:msg.code});
						if(msg.code==1){
							setTimeout(function(){
								location.href="{:url('Index/index')}"},
								2000
							);
						}
					},
					'json'
				);
                return false;
            });
			//监听手机号
			//监听表单提交
			form.on('submit(telDemo)', function(data){
				$.post(
						"{:url('Login/register')}?type=2",
						data.field,
						function(msg){
							//console.log(msg);
							layer.msg(msg.font,{icon:msg.code});
							if(msg.code==1){
								setTimeout(function(){
											location.href="{:url('Index/index')}"},
										2000
								);
							}
						},
						'json'
				);
				return false;
			});
		});
	})
</script>


