<link rel="stylesheet" href="__STATIC__/bootstrap.min.css">
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div>
            <span class="layui-breadcrumb">
                <a href="{:url('Index/index')}">后台首页</a>
                <a href="{:url('Admin/index')}">属性展示</a>
                <a><cite>信息展示</cite></a>
                <a class="layui-btn layui-btn-warm layui-btn-radius" style="float:right; margin-right:30px;margin-bottom:10px;" href="{:url('Attribute/create')}">添加属性</a>
            </span>
        </div>
        <div class="form-div" style="margin:20px;">
            <form action="" name="searchForm">
                按商品类型显示：
                <select name="goods_type" onchange="searchAttr(this.value)">
                    <option value="0">所有商品类型</caption>
                    {foreach $typeInfo as $k=>$v}
                    <option value="{$v.type_id}" selected="true">{$v['type_name']}</option>
                    {/foreach}
                </select>
            </form>
        </div>

        <table class="layui-table" lay-even="" lay-skin="row" >
            <colgroup>
                <col width="50">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="70">
                <col width="90">
                <col width="80">
            </colgroup>
            <thead>
            <tr>
                <th>属性编码</th>
                <th>属性名称</th>
                <th>商品类型</th>
                <th>属性/类型</th>
                <th>录入方式</th>
                <th>可选值列表</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $attrInfo as $v}
            <tr idval="{$v.attr_id}">
                <td>{$v.attr_id}</td>
                <td>{$v.attr_name}</td>
                <td>{$v.type_name}</td>
                <td>{if condition="$v.attr_type eq 0"}属性{else}规格{/if}</td>
                <td>{if condition="$v.attr_input_type eq 0"}手工录入{else}列表选择{/if}</td>
                <td>{$v.attr_values}</td>
                <td>
                    <a href="{:url('Attribute/edit',['id'=>$v.attr_id])}" class="layui-btn layui-btn-xs">修改</a>
                    <a href="#" onclick="del({$v.attr_id})" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div style="text-align:center">{$attrInfo->render();}</div>
    </div>
</div>

<script>
    //删除
    function del(id){
        if(confirm("您确定要删除么")){
            $.ajax({
                type:"POST",
                url:"{:url('Attribute/delete')}",
                data:{id:id},
            }).done(function(msg){
                if(msg==1){
                    alert("删除成功");
                    window.location.reload();
                }else{
                    alert("出现未知错误,删除失败");
                }
            })
        }



    }
</script>

