<div style="padding: 15px;width:400px">
    <form class="layui-form" action="">
        <input type="hidden" name="node_id" value="{$arr.node_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">节点名称</label>
            <div class="layui-input-block">
                <input type="text" name="node_name" value="{$arr.node_name}" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">控制器名称</label>
            <div class="layui-input-block">
                <input type="text" name="controller_name" required value="{$arr.controller_name}"  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作名称</label>
            <div class="layui-input-block">
                <input type="text" name="action_name" required value="{$arr.action_name}"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否左侧展示</label>
            <div class="layui-input-block">
                {if condition="$arr['node_type'] eq 1"}
                <input type="radio" name="node_type" value="1" title="是" checked>
                <input type="radio" name="node_type" value="2" title="否">
                {else /}
                <input type="radio" name="node_type" value="1" title="是">
                <input type="radio" name="node_type" value="2" title="否" checked>
                {/if}
            </div>
        </div>
        <div class="layui-form-item" style="width: 300px;">
            <label class="layui-form-label">父类</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="required">
                    <option value="0">--请选择--</option>
                    {volist name='data' id='v'}
                    {if condition="$arr['node_id'] eq $v['node_id']"}
                    <option value="{$v.node_id}" selected>{$v.node_name}</option>
                    {else /}
                    <option value="{$v.node_id}">{$v.node_name}</option>
                    {/if}
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function(){
        layui.use(['layer','form'],function(){
            var layer=layui.layer;
            var form=layui.form;
            //阻止提交
            form.on('submit(formDemo)', function(data){
                console.log(data.field);
                $.post(
                    "{:url('node/nodeupdate')}",
                    data.field,
                    function(result){
                        layer.msg(result.font,{icon:result.code});
                        if(result.code==1){
                            setTimeout(function(){
                                location.href="{:url('node/nodeList')}"},2000);
                        }
                    },
                    'json'
                )

                return false;
            });
        })
    })
</script>