<div style="padding: 15px;width:400px">
    <form class="layui-form" action="">
        <!--管理员账号-->
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="admin_name" required  lay-verify="required|checkName" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--管理员密码-->
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="admin_pwd" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--管理员邮箱-->
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="admin_email" required  lay-verify="required|email" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--管理员手机-->
        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
                <input type="text" name="admin_tel" required  lay-verify="required|phone|number" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function(){
        layui.use(['form','layer'],function(){
            var form=layui.form;
            var layer=layui.layer;
            //验证
            form.verify({
                checkName:function(value,item){
                    var reg=/^[a-z_]\w{3,11}$/i;
                    var info;
                    if(!reg.test(value)){
                        return '账号数字字母下划线组成，且不以数字开头';
                    }else{
                        $.ajax({
                            url: "{:url('Admin/checkName')}",
                            method: 'post',
                            data:{admin_name:value,type:1},
                            async:false,
                            success:function(msg){
                                if(msg=='no'){
                                    info='账号已存在';
                                }
                            }
                        });
                        return info;
                    }
                },
                checkPwd:function(value,item){
                    var reg=/^.{6,16}$/;
                    if(!reg.test(value)){
                        return '密码必须在6-16位之间';
                    }
                }
            });
            form.on('submit(*)',function(data){
                $.post(
                        "{:url('Admin/adminAdd')}",
                        data.field,
                        function(result){
                            layer.msg(result.font,{icon:result.code});
                            if(result.code==1){
                                layer.open({
                                    type:1,
                                    content:'是否跳转到展示页面?',
                                    btn:['是','否'],
                                    yes:function(index,layero){
                                        location.href='adminList';
                                    },
                                    btn2:function(index,layero){
                                        location.href='adminAdd';
                                    }
                                })
                            }
                        },
                        'json'
                );
                return false;
            });
        });
    });
</script>