<div style="padding: 15px;width:400px">
    <form class="layui-form" action="">
        <input type="hidden" name="brand_id" id="brand_id" value="{$data.brand_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">品牌名称</label>
            <div class="layui-input-block">
                <input type="text" name="brand_name" required value="{$data.brand_name}" lay-verify="required|checkName" placeholder="请输入品牌名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">品牌网址</label>
            <div class="layui-input-block">
                <input type="text" name="brand_url" required value="{$data.brand_url}" lay-verify="required|checkUrl" placeholder="请输入品牌网址" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">品牌简介</label>
            <div class="layui-input-block">
                <textarea name="brand_describe" placeholder="请输入内容" class="layui-textarea" lay-verify="required">{$data.brand_describe}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否展示</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1" title="是" checked>
                <input type="radio" name="is_show" value="2" title="否">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function(){
        layui.use(['form','layer'],function(){
            var form=layui.form;
            var layer=layui.layer;
            //验证
            form.verify({
                checkName:function(value,item){
                    var reg=/^.{1,}$/i;
                    var info
                    //console.log(value);
                    if(!reg.test(value)){
                        return '品牌名称错误';
                    }else{
                        $.ajax({
                            url: "{:url('Brand/checkName')}",
                            method: 'post',
                            data:{brand_name:value,type:2},
                            async:false,
                            success:function(msg){
                                if(msg=='no'){
                                    info='品牌名称已存在';
                                }
                            }
                        });
                        return info;
                    }
                },
                checkUrl:function(value,item){
                    var reg=/^www\..{1,}\.com$/;
                    if(!reg.test(value)){
                        return '品牌地址格式错误';
                    }
                }
            });
            //监听提交
            form.on('submit(formDemo)', function(data){
                $.post(
                        "{:url('brand/brandUpdate')}",
                        data.field,
                        function(result){
                            layer.msg(result.font,{icon:result.code});
                            if(result.code==1){
                                if(result.code==1){
                                    setTimeout(function(){
                                        location.href="{:url('brandList')}"},2000);
                                }
                            }
                        },
                        'json'
                )

                return false;
            });
        });
    });
</script>